@model Form
<form asp-controller="Home" asp-action="Index" method="post">
    <div class="">
        <h1>Register Now</h1>
        <hr>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" id="name">

        <label for="email"><b>Email ID</b></label>
        <input type="text" placeholder="Enter Email ID" id="email">

        <label for="phone"><b>Phone Number</b></label>
        <input type="text" placeholder="Enter Phone Number" name="phone" id="phone">
        <label for="age"><b>Age</b></label>
        <input type="text" placeholder="Enter Age" name="age" id="age">
        <label for="qua"><b>Qualification</b></label>
        <select name="qua" id="qua">
            <option value="Select">Select</option>
            <option value="sslc">SSLC</option>
            <option value="+2">+2</option>
            <option value="Degree">Bachelors Degree</option>
            <option value="PG">PG</option>
        </select>

        <hr>
       

        <button type="submit" class="registerbtn" id="btn">Submit</button>
    </div>
</form>
